$base-color: #FFB7B2;

.fullImage {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../public/storefront.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding-top: 120px;
}

.col {
  width: 50vw; 
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0px 5vw;
  margin-top: 100px;
  position: relative;

  .infoBold {
    font-size: 3rem;
    font-weight: 700;
  }
  .info {
    font-size: 1.6rem;
    font-weight: 300;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  .merchantLogo {
    margin-left: 15px;
  }

  nav {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    button {
      margin-right: 15px;
    }
  }

  .navButton {
    font-size: 24px;
    font-weight: 500;
  }
}

.mobileButton {
  transition: all 0.3s;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.mobileBackdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100vw;
  display: flex;
  padding: 20px;
  background-color: white;
  z-index: 150;
  flex-direction: column;
  overflow: hidden;
}

.mobileItem {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 15px;
  color: rgba(0,0,0,0.7);
  font-weight: 700;
  cursor: pointer;
}
.mobileItem:hover {
  background-color: rgba(0,0,0,0.05);
}
.mobileItem:active {
  background-color: rgba(0,0,0,0.1);
}

.interestForm {
  border-radius: 2px;
  background-color: white;
  width: 100%;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
  padding: 20px 30px;
  
  .headerText {
    color: rgba(0,0,0,0.85);
    font-size: 2rem;
    font-weight: 700;
  }
  .subheader {
    color: #6D7278;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .submitButton {
    background-color: $base-color;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 15px;
    border: 0;
  }
}

.whySection {
  background-color: white;
  padding: 30px 5vw;
  width: 100vw;
}

.titleText {
  font-weight: 700;
  font-size: 2rem;
  color: rgba(0,0,0,0.85);
}

.subtitleText {
  font-weight: 300;
  font-size: 1.5rem;
  color: rgba(0,0,0,0.85);
}

.statContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0px;

  .statItem {
    margin-right: 10px;
  }

  .stat {
    font-size: 3rem;
    color: black;
    font-weight: 700;
  }
  
  .desc {
    color: #888888;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.whyItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  .desc {
    color: #888888;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 10px;
  }

  .objectRectangle, object {
    height: 30vh;
    min-width: 35vw;
    width: 35vw;
    object-fit: cover;
  }

  .objectRectangle {
    position: absolute;
  }

  object {
    opacity: 0.6;
  }
}

.steps {
  background-color: #FFECEB;

  .stepTitle {
    color: #FFA8A1;
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
  }

  .stepContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
  }
}

.stepItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 33%;
  margin-bottom: 20px;

  object {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }

  .box {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #888888;
    font-weight: 300;
    text-align: center;
    font-size: 1.1rem;
    width: 20vw;

    div {
      margin-top: 10px;
    }
  }

  .circle {
    background-color: white;
    border-radius: 150px;
    width: 85px;
    height: 85px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $base-color;
    font-weight: 400;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .col {
    margin-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .fullImage {
    flex-direction: column !important;
  }
  .statContainer {
    flex-direction: column !important;
    align-items: flex-start;
    margin: 40px 0px;

    .statItem {
      margin-bottom: 30px;
    }
  }
  .stepContainer {
    flex-direction: column !important;
  }
  .stepTitle {
    padding-bottom: 20px !important;
  }
  .stepItem {
    flex: 1 1 100% !important;
    width: 100% !important;
    flex-direction: column-reverse !important;

    .box {
      width: 80vw !important;
    }
  }
  .whyItem {
    flex-direction: column-reverse !important;

    .objectRectangle, object {
      min-width: 100%;
      width: 100%;
    }
  }
  .col {
    flex: 0 1 100% !important;
    width: 100vw !important;
    margin-bottom: 20px;
  }
}