$base-color: #FFB7B2;
 
* {
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', 'Helvetica', sans-serif;
    max-width: 100%;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', 'Helvetica', sans-serif;
}

input:focus, button:focus, div:focus {
    outline: 0;
}

button {
    transition: opacity 0.3s;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.5;
}

button:disabled {
    opacity: 0.5;
    cursor: default !important;
}

input::placeholder {
  color: #6D7278;
}

input:focus::placeholder {
  color: transparent;
}

.button-text {
  background: none;
  color: white;
  font-size: 16px;
  border: 0;
}

html {
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 8 * ((100vw - 320px) / 880));
    }
}
@media screen and (min-width: 1200px) {
    html {
        font-size: 22px;
    }
}