$base-color: #FFB7B2;

.topImage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding-top: 120px;
  position: relative;
}

.col {
  width: 50vw; 
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  color: white;
  padding-right: 2vw;
  padding-left: 8vw;
  margin-top: 100px;
  position: relative;

  .info {
    color: rgba(0,0,0,0.6);
    font-size: 1.6rem;
    margin-top: 50px;
    font-weight: 300;
  }
}

.small {
  color: $base-color;
  font-size: 1rem;
  font-weight: 500;
}

.signUp {
  font-size: 1rem;
  font-weight: 500;
  padding: 15px 40px !important;
  border-radius: 30px !important;
  width: fit-content !important;
  box-shadow: 0px 0px 16px 0px #FFB7B2;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

.colleges {
  color: rgba(0,0,0,0.5);
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;

  .collegeImage {
    border-radius: 150px;
    width: min(135px, 15vw);
    height: min(135px, 15vw);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5), 0px 0px 3px 0px rgba(0,0,0,0.2);
    margin-left: 25px;

    object {
      width: 66%;
      height: 66%;
      object-fit: contain;
    }
  }
}

.imageContainer {
  padding: 0;
  position: absolute;
  top: 20px;
  right: -100px;
}

.backgroundScreenshots {
  height: calc(100vh - 120px);
  width: auto;
  object-fit: cover;
  object-position: 0% 50%;
}

.steps {
  background-color: #FFECEB;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px 0px;
}

.stepItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 33%;
  margin-bottom: 20px;
  padding: 0px 5vw;

  .circle {
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
  }

  .box {
    border-radius: 40px;
    background-color: white;
    padding: 30px;
    margin-top: 40px;
  }

  .itemTitle {
    font-weight: 700;
    color: rgba(0,0,0,0.85);
    font-size: 1.4rem;
  }

  .description {
    font-weight: 300;
    color: rgba(0,0,0,0.5);
    font-size: 1rem;
    margin-top: 20px;
  }
}

.features {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 100px;
  padding-left: 8vw;
  position: relative;
  background-color: #342020;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  color: white;
  overflow: hidden;

  .textContainer {
    max-width: 50vw;
    margin-top: 15vh;
    margin-bottom: 50px;
  }
  .featureTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
  }
  .featureDesc {
    font-size: 1.4rem;
    font-weight: 300;
  }
}

.fullScreenshot {
  position: absolute;
  right: 20px;
  height: 100vh;
  width: auto;
  object-fit: contain;
  bottom: -200px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;

  .featureButton {
    margin-right: 15px;
    border-radius: 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 30px;
    border: 0;
    font-size: 1.1rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 1200px) {
  .info {
    margin-top: 20px;
  }
  .col {
    padding-left: 0px !important;
    padding-right: 20px !important;
    padding-bottom: 0px !important;
  }
  .fullScreenshot {
    height: 80vh;
  }
  .textContainer {
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .topImage {
    flex-direction: column !important;
  }
  .col {
    flex: 0 1 100% !important;
    width: 100vw !important;
    margin-top: 50px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  .colleges {
    margin-top: 50px;
    text-align: center !important;
  }
  .imageContainer {
    position: relative;
    margin: 0;
    right: 0;
  }
  .backgroundScreenshots {
    width: 90vw;
    height: auto;
  }
  .steps {
    flex-direction: column;
    padding: 40px 0px;
  }
  .stepItem {
    flex-direction: row;
    margin-top: 20px;

    .box {
      margin-left: 20px;
      margin-top: 0px;
    }
  }
  .features {
    text-align: center;
    align-items: center;

    .textContainer {
      max-width: 80vw;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  .fullScreenshot {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 2rem !important;
  }
  .colleges {
    font-size: 1.2rem;
  }
}